.footer__column-link {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    transition: opacity .5s linear;
}

.footer__column-link:hover {
    opacity: 70%;
}