.khan__buy-link {
    align-self: flex-start;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2F80ED;
    text-decoration: none;
    box-sizing: content-box;
    transition: opacity .5s linear;
}

.khan__buy-link:hover {
    opacity: 70%;
}